
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<html class="no-js css-menubar" lang="en">
<body class="animsition page-login-v2 layout-full page-dark">
    <style>

        body {
            background: transparent;
        }
    </style>
    <!-- Page -->
    <div class="page" data-animsition-in="fade-in" data-animsition-out="fade-out">
        <div class="page-content">
            <div class="page-brand-info">
                <div class="brand">
                    <img class="brand-img" src="~/Content/Site/classic/iconbar/assets/images/dk_turizm.png" alt="DK Turizm">
                    <h2 class="brand-text font-size-40">DK Turizm</h2>
                </div>
                <p class="font-size-20">
                    Takip Sistemi
                </p>
            </div>
            <div class="page-login-main animation-slide-right animation-duration-1">
                <div class="brand hidden-md-up">
                    <img class="brand-img" src="~/Content/Site/classic/iconbar/assets/images/dk_turizm.png" alt="DK Turizm">
                    <h3 class="brand-text font-size-40">DK Turizm</h3>
                </div>
                <h3 class="font-size-24">Giriş Yap</h3>
                <p></p>
                <form method="post" action="login-v2.html">
                    <div class="form-group">
                        <label class="sr-only" for="inputEmail">Kullanıcı Adı</label>
                        <input type="email" class="form-control" id="inputEmail" name="email" placeholder="Kullanıcı Adı">
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="inputPassword">Şifre</label>
                        <input type="password" class="form-control" id="inputPassword" name="password" placeholder="Şifre">
                    </div>
                    <div class="form-group clearfix">
                        <div class="checkbox-custom checkbox-inline checkbox-primary float-left">
                            <input type="checkbox" id="rememberMe" name="rememberMe">
                            <label for="rememberMe">Beni Hatırla</label>
                        </div>
                        <a class="float-right" href="forgot-password.html">Şifremi Unuttum?</a>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Giriş Yap</button>
                </form>
                <p>Hesabınız Yoksa <a href="register-v2.html">Hesap Oluşturun</a></p>
                <footer class="page-copyright">
                    <p>WEBSITE BY Doruk Özüdoğru</p>
                    <p>© @DateTime.Now.Year Tüm Hakları Saklıdır.</p>
                    <div class="social">
                        <a class="btn btn-icon btn-round social-twitter mx-5" href="javascript:void(0)">
                            <i class="icon bd-twitter" aria-hidden="true"></i>
                        </a>
                        <a class="btn btn-icon btn-round social-facebook mx-5" href="javascript:void(0)">
                            <i class="icon bd-facebook" aria-hidden="true"></i>
                        </a>
                        <a class="btn btn-icon btn-round social-google-plus mx-5" href="javascript:void(0)">
                            <i class="icon bd-google-plus" aria-hidden="true"></i>
                        </a>
                    </div>
                </footer>
            </div>
        </div>
    </div>
</body>
</html>