
@{
    ViewBag.Title = "Proje Sepeti";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<div class="container text-center">
    <section class="text-white" id="messageShow">
        <h5 class="text-dark">@ViewBag.Message</h5>
        <a class="btn btn-info" href="@ViewBag.ReturnUrl"><span class="fa fa-arrow-left"></span></a>
    </section>
</div>