@{
    if (Session["UserId"] == null)
    {
        Layout = null;
    }
}

<!DOCTYPE html>
<html class="no-js css-menubar" lang="tr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="author" content="">

    <title>503</title>

    <link rel="apple-touch-icon" href="~/Content/Site/classic/iconbar/assets/images/apple-touch-icon.png">
    <link rel="shortcut icon" href="~/Content/Site/classic/iconbar/assets/images/favicon.ico">

    <link rel="stylesheet" href="~/Content/Site/classic/global/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/Site/classic/global/css/bootstrap-extend.min.css">
    <link rel="stylesheet" href="~/Content/Site/classic/iconbar/assets/css/site.min.css">

    <link rel="stylesheet" href="~/Content/Site/classic/global/vendor/animsition/animsition.css">
    <link rel="stylesheet" href="~/Content/Site/classic/global/vendor/asscrollable/asScrollable.css">
    <link rel="stylesheet" href="~/Content/Site/classic/global/vendor/switchery/switchery.css">
    <link rel="stylesheet" href="~/Content/Site/classic/global/vendor/intro-js/introjs.css">
    <link rel="stylesheet" href="~/Content/Site/classic/global/vendor/slidepanel/slidePanel.css">
    <link rel="stylesheet" href="~/Content/Site/classic/global/vendor/flag-icon-css/flag-icon.css">
    <link rel="stylesheet" href="~/Content/Site/classic/iconbar/assets/examples/css/pages/errors.css">

    <link rel="stylesheet" href="~/Content/Site/classic/global/fonts/web-icons/web-icons.min.css">
    <link rel="stylesheet" href="~/Content/Site/classic/global/fonts/brand-icons/brand-icons.min.css">
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic'>

    <script src="~/Content/Site/classic/global/vendor/breakpoints/breakpoints.js"></script>
    <script>Breakpoints();</script>
</head>
<body class="animsition page-error page-error-503 layout-full">
    <div class="page vertical-align text-center" data-animsition-in="fade-in" data-animsition-out="fade-out">
        <div class="page-content vertical-align-middle">
            <header>
                <h1 class="animation-slide-top">503</h1>
                <p>Erişmeye Çalıştığınız Sayfa Bulunamadı</p>
            </header>
            <p class="error-advise">Lütfen Tekrar Deneyin</p>
            <a class="btn btn-primary btn-round" href="@ViewBag.ReturnUrl">Geri Dön</a>
        </div>
    </div>
    <script src="~/Content/Site/classic/global/vendor/babel-external-helpers/babel-external-helpers.js"></script>
    <script src="~/Content/Site/classic/global/vendor/jquery/jquery.js"></script>
    <script src="~/Content/Site/classic/global/vendor/popper-js/umd/popper.min.js"></script>
    <script src="~/Content/Site/classic/global/vendor/bootstrap/bootstrap.js"></script>
    <script src="~/Content/Site/classic/global/vendor/animsition/animsition.js"></script>
    <script src="~/Content/Site/classic/global/vendor/mousewheel/jquery.mousewheel.js"></script>
    <script src="~/Content/Site/classic/global/vendor/asscrollbar/jquery-asScrollbar.js"></script>
    <script src="~/Content/Site/classic/global/vendor/asscrollable/jquery-asScrollable.js"></script>
    <script src="~/Content/Site/classic/global/vendor/ashoverscroll/jquery-asHoverScroll.js"></script>

    <script src="~/Content/Site/classic/global/vendor/switchery/switchery.js"></script>
    <script src="~/Content/Site/classic/global/vendor/intro-js/intro.js"></script>
    <script src="~/Content/Site/classic/global/vendor/screenfull/screenfull.js"></script>
    <script src="~/Content/Site/classic/global/vendor/slidepanel/jquery-slidePanel.js"></script>

    <script src="~/Content/Site/classic/global/js/Component.js"></script>
    <script src="~/Content/Site/classic/global/js/Plugin.js"></script>
    <script src="~/Content/Site/classic/global/js/Base.js"></script>
    <script src="~/Content/Site/classic/global/js/Config.js"></script>

    <script src="~/Content/Site/classic/iconbar/assets/js/Section/Menubar.js"></script>
    <script src="~/Content/Site/classic/iconbar/assets/js/Section/Sidebar.js"></script>
    <script src="~/Content/Site/classic/iconbar/assets/js/Section/PageAside.js"></script>
    <script src="~/Content/Site/classic/iconbar/assets/js/Plugin/menu.js"></script>

    <script src="~/Content/Site/classic/global/js/config/colors.js"></script>
    <script src="~/Content/Site/classic/iconbar/assets/js/config/tour.js"></script>
    <script>Config.set('assets', '~/Content/Site/classic/iconbar/assets');</script>

    <script src="~/Content/Site/classic/iconbar/assets/js/Site.js"></script>
    <script src="~/Content/Site/classic/global/js/Plugin/asscrollable.js"></script>
    <script src="~/Content/Site/classic/global/js/Plugin/slidepanel.js"></script>
    <script src="~/Content/Site/classic/global/js/Plugin/switchery.js"></script>
    <script>
        (function (document, window, $) {
            'use strict';

            var Site = window.Site;
            $(document).ready(function () {
                Site.run();
            });
        })(document, window, jQuery);
    </script>
</body>
</html>