<!DOCTYPE html>
<html lang="tr">

<ul class="navbar-nav ml-auto">
    <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="~/Account/Register">Kayıt Ol</a>
    </li>
    <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="~/Account/Login">Giriş Yap</a>
    </li>
</ul>