@model IEnumerable<Planner.Models.vwUsersCVs>

@{
    ViewBag.Title = "Özgeçmiş Yükle";
    Layout = "~/Views/Shared/_LayoutRegister.cshtml";
}

<div class="page vertical-align text-center" data-animsition-in="fade-in" data-animsition-out="fade-out">
    <div class="page-content vertical-align-middle animation-slide-top animation-duration-1">
        <div class="brand">
            <a href="/Home"><img class="brand-img" src="~/Content/Site/classic/iconbar/assets/images/ci_tech.png" alt="PROJE SEPETİ" style="max-height:55px; max-width:55px"></a>
            <h2 class="brand-text">PROJE SEPETİ</h2>
        </div>
        @using (Html.BeginForm("CreateUserCV", "User", FormMethod.Post, FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="form-group">
                <input type="file" data-plugin="dropify" id="input-file-now-custom-2" data-height="80" name="fileCV" id="fileCV" value="Yükle" accept=".pdf" class="form-control" />
            </div>
            <input type="submit" value="Yükle" class="btn btn-info btn-block" formaction="/User/UploadUserCV" />
        }
        <br />
        <p style="min-width:350px">Hesabınız varsa <a class="mark" href="~/Account/Login">giriş yapın</a></p>
    </div>
</div>