@model Planner.DataAccess.Users
@{
    ViewBag.Title = "Şifremi Unuttum";
    Layout = "~/Views/Shared/_LayoutRegister.cshtml";
}

<div class="page vertical-align text-center" data-animsition-in="fade-in" data-animsition-out="fade-out">
    <div class="page-content vertical-align-middle animation-slide-top animation-duration-1">
        <div class="brand">
            <a href="/Home"><img class="brand-img" src="~/Content/Site/classic/iconbar/assets/images/ci_tech.png" alt="PROJE SEPETİ" style="max-height:55px; max-width:55px"></a>
            <h2 class="brand-text">PROJE SEPETİ</h2>
        </div>
        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <h6 style="color:wheat">@ViewBag.Message</h6>
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                <label class="sr-only" for="EMail">E-Posta</label>
                <input type="email" class="form-control" name="email" placeholder="E-Posta">
            </div>
            <input type="submit" class="btn btn-info btn-block" value="Şifre Gönder" />
        }
    </div>
</div>