@{
    ViewBag.Title = "E-Posta Onaylama";
    Layout = "~/Views/Shared/_LayoutRegister.cshtml";
}

<div class="page vertical-align text-center" data-animsition-in="fade-in" data-animsition-out="fade-out">
    <div class="page-content vertical-align-middle animation-slide-top animation-duration-1">
        <div class="brand">
            <a href="/Home"><img class="brand-img" src="~/Content/Site/classic/iconbar/assets/images/ci_tech.png" alt="PROJE SEPETİ" style="max-height:55px; max-width:55px"></a>
            <h1 class="brand-text">PROJE SEPETİNE HOŞGELDİNİZ</h1>
        </div>
        <h2 class="brand-text" style="color:wheat">E-postanız onaylanmıştır. Lütfen <a style="color:orange" href="/Account/Login">giriş yaparak</a> devam edin.</h2>
    </div>
</div>