@{
    ViewBag.Title = "UploadUserCV";
    Layout = "~/Views/Shared/_LayoutRegister.cshtml";
}

<div class="container text-center">
    <section class="text-white">
        <h5 class="alert alert-danger">@ViewBag.Message</h5>
        <a class="btn btn-dark" href="@ViewBag.ReturnUrl">Yeniden Dene</a>
        <a class="btn btn-info" href="/Home">Anasayfa</a>
    </section>
</div>