
@{
    ViewData["Title"] = "LogInApprovement";
    Layout = "~/Views/Shared/_LayoutLogged.cshtml";
}

<div class="container text-center">
    <section class="text-white" id="loginapprovment">
        <h2 class="alert alert-danger">Hesabınız henüz yöneticiler tarafından onaylanmamıştır.</h2>
        <a class="btn btn-info" href="/Home">Anasayfa</a>
    </section>
</div>