
@{
    ViewData["Title"] = "Rejected";
    Layout = "~/Views/Shared/_LayoutLogged.cshtml";
}

<div class="container text-center">
    <section class="text-white" id="rejected">
        <h2>Hesabınız yöneticiler tarafından onaylanmamıştır.</h2>
        <a class="btn btn-info" href="/Home">Anasayfa</a>
    </section>
</div>