
@{
    ViewBag.Title = "Kayıt Tamamlandı";
    Layout = "~/Views/Shared/_LayoutRegister.cshtml";
}

<div class="container text-center">
    <section class="text-white" id="loginapprovment">
        <h2 class="alert alert-danger">@ViewBag.Message</h2>
        <a class="btn btn-info" href="/Home">Anasayfa</a>
    </section>
</div>